:root{
--clr-magenta: hsl(300, 43%, 22%);
--clr-pink: hsl(333, 80%, 67%);
--clr-dark-grey-magenta: hsl(303, 10%, 53%);
--clr-light-grey-magenta: hsl(300, 24%, 96%);
--clr-white: hsl(0, 0%, 100%);

--ff-all:'League Spartan', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-all);
    line-height: 1.5em;
    border: 1px solid red;
}
.top h1{
    color: var(--clr-magenta);
    font-weight: 700;
    line-height: 1;
}

.container{
    display: flex;
    flex-direction: column;
    
}

.top{
    margin: 1rem;
    text-align: center;
}

.card{
    background-color: var(--clr-magenta);
    color: var(--clr-light-grey-magenta);
    padding: 2rem;
    margin: 1rem;
    border-radius: 15px;
}
.review-card{
    background-color: var(--clr-light-grey-magenta);
    padding: 1em;
    border-radius: 5px;
    margin: 1rem 0;
    text-align: center;
    color: var(--clr-magenta);
    font-weight: 700;
}

img{
    border-radius: 50%;
}
.head{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
.head .right{
    align-self: center;
}

.left h1{
    margin: 0 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    
}

.left p{
    color: var(--clr-dark-grey-magenta);
}

.right p+p{
    color: var(--clr-pink);
}

@media (min-width: 576px) {
    .top{
        display: flex;
        flex-direction: row;
        gap: 200px;
    }
    .top .left{
        text-align: left;
        width: 50%;
    }
    .bottom{
        display: flex;
        
    }
    .card-1 {
        justify-self: flex-start;
        
    }
}